

div[id=pagina]{
	margin: auto;
	margin-top: 100px;
	width: 400px;
	height: 470px;
	background-color: rgb(166, 166, 166);
	/*background-color: rgba(0, 153, 255, 0.8);*/
	border-radius: 20px;
}
form[id=login]{
	position: relative;
	width: 300px;
	margin: auto;
	top: 50px;
	font-size: 16pt;

}

form[id=login] input{
	width: 300px;
	height: 30px;
	margin-bottom: 20px;
	border-radius: 5px;
}

form[id=login] input[type=submit]{
	position: relative;
	margin-top: 10px;
	font-size: 16pt;
	height: 40px;
}
div[id=logo]{
	position: relative;
	margin:auto;
	top:20px;
	width: 250px;
	height: 80px;
}
div[id=logo] img{
	width: 250px;
	height: 80px;
}
form[id=login] div a{
	color: rgb(0, 107, 179);
}